<div class="full-width full-height">
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="goBack()">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <span>Sistema de Practicas Profesionales</span>
        <span class="example-spacer"></span>
        <mat-form-field>
            <mat-label>Select Role</mat-label>
            <mat-select [(value)]="roleSelected">
              <mat-option *ngFor="let role of roles" [value]="role">
                {{role}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button>Luis C. Somoza</button>
        <mat-icon>accessibility_new</mat-icon>
    </mat-toolbar>

    <mat-drawer-container class="navbar-height">
        <mat-drawer mode="side" opened style="width: 300px;">
            <mat-list role="list">
                <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/graduate-work/proposals">Propuestas</button></mat-list-item>
                <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/graduate-work/reviewers">Revisor</button></mat-list-item>
                <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/graduate-work/council">Consejo</button></mat-list-item>
                <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/graduate-work/juries">Jurado</button></mat-list-item>
                <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/graduate-work/defenses">Defensa</button></mat-list-item>
                <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/graduate-work/completion">Culminación</button></mat-list-item>

              </mat-list>
        </mat-drawer>
        <mat-drawer-content style="display: flex; align-items: center; justify-content: center;">
            
              <h1>Ni idea que poner aqui</h1>
           

        </mat-drawer-content>
    </mat-drawer-container>
      
    <app-footer></app-footer>
</div>



  
