<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Sistema de Practicas Profesionales</span>
    <span class="example-spacer"></span>
    <mat-form-field>
        <mat-label>Select Role</mat-label>
        <mat-select [(value)]="roleSelected" (selectionChange)="onSelectionChange()">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button *ngIf="user != null">{{user.userFirstName + ' ' + user.userLastName}}</button>
    <button mat-button *ngIf="user != null" (click) = "logOut()"><mat-icon>exit_to_app</mat-icon></button>
</mat-toolbar>