<app-navbar></app-navbar>
<div class="full-width full-height">

    <mat-drawer-container class="navbar-height">
        <mat-drawer mode="side" opened style="width: 300px;">
            <mat-list role="list">
                <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/graduate-work/professorReviewer">Revisor</button></mat-list-item>
                <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/graduate-work/tutor">Tutor</button></mat-list-item>
                <mat-list-item role="listitem"> <button mat-raised-button style="width: 100%;" routerLink="/graduate-work/jury">Jurado</button></mat-list-item>

              </mat-list>
        </mat-drawer>
        <mat-drawer-content style="display: flex; align-items: center; justify-content: center;">
            
              <h1>Ni idea que poner aqui</h1>
           

        </mat-drawer-content>
    </mat-drawer-container>
      

</div>
<app-footer></app-footer>