<footer>
    <div class="footer">
        <div class="row">
            UNIVERSIDAD CATÓLICA ANDRÉS BELLO – Extensión Guayana – Avenida Atlántico, Ciudad Guayana 8050. 
        </div>
        <div class="row">
            Bolívar, Venezuela. Teléfono: +58-286-6000111
        </div>
        <div class="row">
            URL: http://www.guayanaweb.ucab.edu.ve/escuela-de-ingenieria-informatica.html
        </div>
        <div class="row">
            UCAB Guayana Copyright © 2023 - All rights reserved || Designed By: Luis C. Somoza
        </div>
    </div>
</footer>